*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    height:100vh;
    background: radial-gradient(rgb(5,221,245),rgb(6,150,253));
}
.container{
    height:60vh;
    width:30vw;
    position: absolute;
    top:50vh;
    left:50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}
.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    /* transform: rotateY(130deg); */
    animation: animate 5s infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}
.card{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    background: darkblue;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}
#front{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/sunflower-1508785046.jpg?crop=1.00xw:0.669xh;0,0.116xh&resize=980:*");
    background-size: cover;
    transform: translateZ(125px);
}
#back{
    background-image: url("https://cdn.pixabay.com/photo/2016/04/18/15/38/water-lilies-1336724_640.jpg");
    background-size: cover;
    transform: translateZ(-125px);
}
#left{
    background-image: url("https://www.planetware.com/wpimages/2019/11/canada-in-pictures-beautiful-places-to-photograph-morraine-lake.jpg");
    background-size:cover;
    right:125px;
    transform: rotateY(-90deg);
}
#right{
    background-image: url("https://ichef.bbci.co.uk/news/999/cpsprodpb/1013F/production/_122255856_6c2ea52c-9914-4444-9ec2-a8cd4e50ac60.jpg");
    background-size: cover;
    left:125px;
    transform: rotateY(90deg);
}
#top{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKsMRb1awz2IJ9TOzlwMa_nncbsFcw9dV8v4dI-1rxuA&s");
    background-size: cover;
    bottom:125px;
    transform: rotateX(90deg);
}
#bottom{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQeLNnOcQPQc19pqH3DKaeLoyKhzb6O33Oh0SoNOyvMg&s");
    background-size: cover;
    top:125px;
    transform: rotateX(-90deg);
}
input{
    height: 50px;
    width: 100px;
    background-color: pink;
    cursor: pointer;
    position: absolute;
    top: -100px;
    left: 175px;
    font-size: 20px;
}
input:focus~ .box #front{
    transform: translateZ(180px) rotateY(360deg);
}
input:focus~ .box #back{
    transform: translateZ(-180px) rotateY(360deg);
}
input:focus~ .box #left{
    right: 180px;
}
input:focus~ .box #right{
    left: 180px;
}
input:focus~ .box #top{
    bottom: 180px;
}
input:focus~ .box #bottom{
    top: 180px;
}